################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-Debug
build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/rules.ninja
build/seekcamera_capture
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-313cb392be6fa3c54288.json
build/.cmake/api/v1/reply/cmakeFiles-v1-54f171362dfff853a4d6.json
build/.cmake/api/v1/reply/codemodel-v2-354b6808ff77776cb116.json
build/.cmake/api/v1/reply/index-2024-06-03T15-38-49-0204.json
build/.cmake/api/v1/reply/target-seekcamera_capture-Debug-7e2fd5fdc71bad4c49f4.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/seekcamera_capture.dir/src/main.o
build/CMakeFiles/seekcamera_capture.dir/src/seekcamera_capture.o
build/CMakeFiles/seekcamera_capture.dir/src/SeekCamera.o
build/CMakeFiles/seekcamera_capture.dir/src/SeekCameraLoopHandler.o
