[Unit]
Description=EchoTherm V4L2 Loopback Capture Service
# After=video.service
RequiresMountsFor=/usr

[Service]
Type=simple
ExecStart=/usr/local/bin/echotherm_v4l2loopback --configFile /usr/local/bin/echotherm_v4l2loopback_config.json
StandardOutput=journal
StandardError=journal
#ExecStartPre=/bin/sleep 15
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target